<div class="row">
  <div class="span12">
    <div class="row">

      <!-- Signup Form 
      ==================================== -->
      <div class="span6">
        <div class="row">
          <div class="span4 offset1">

            <%= render "shared/error_messages" %>
          
            <%= render "users/signup" %>

          </div>
          <!-- END .span4 .offset1 -->  
        </div>
        <!-- END .row -->
      </div>
      <!-- END .span6 .leftside -->
      
      <!-- Signin Form
      ==================================== -->
      <div class="span6">
        <div class="row">
          <div class="span4 offset1">
           
            <%= render "users/signin" %>

          </div>
          <!-- END .span4 .offset1 -->
        </div>
        <!-- END .row -->
      </div>  
      <!-- END .span6 -->
    

    </div>
    <!-- END .row -->
  </div>
  <!-- END .span12 -->
</div>
<!-- END .row -->   
