<div class="hero-unit center">
  <h1>Tutoria!</h1>
  <h2>This is the easiest tutorial writting/reading web app.<br/>
    <%= link_to "Try the demo", root_path, class:"btn btn-large btn-primary" %> 
      or just
    <%= link_to "Start! Join us!", start_path, class:"btn btn-large btn-primary"%>  
  </h2>
</div>
<!-- END .hero-unit .center -->
